﻿@model List<JMorin_TurnerChallenge.Models.TitleSummary>

@{
    ViewBag.Title = "Title Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Titles</h2>
<p>
    OPTION 1: To find detailed information about a movie title, you can search for a specific title in the search box below. 
</p>
<p>
    <input type="text" id="SearchText" />
    <input type="button" onclick="searchByText();" value="Search" />
    <div id="AjaxWaitingSection" style="visibility: hidden; color: red;">
        One moment please...
    </div>
</p>
<div id="NoResultsFound" style="display: none;">
    No information found on that title.
</div>
<div id="Results" class="results" style="display: none;">
    <table>
        <tr id="Name">
            <td class="outerLabel">Name:</td>
            <td id="TitleName"></td>
        </tr>
        <tr>
            <td class="outerLabel">Release Year:</td>
            <td id="ReleaseYear" class="Label2"></td>
        </tr>
        <tr id="Awards" style="display: none;">
            <td class="outerLabel">Awards:</td>
            <td>
                <table id="AwardsTable" class="innerTable"></table>
            </td>
        </tr>
        <tr id="Genres" style="display: none;">
            <td class="outerLabel">Genres:</td>
            <td>
                <table id="GenresTable" class="innerTable"></table>
            </td>
        </tr>
        <tr id="OtherNames" style="display: none;">
            <td class="outerLabel">Other Names:</td>
            <td>
                <table id="OtherNamesTable" class="innerTable"></table>
            </td>
        </tr>
    </table>
</div>
<p>
    OPTION 2: To find information about a movie listed below, simply click on the name and the results
    will appear in the results area above.
    <table>
        @foreach (JMorin_TurnerChallenge.Models.TitleSummary title in Model)
        {
            <tr>
                <td>
                    <a id="@title.TitleID" onclick="titleClickByID(@title.TitleID);">@title.TitleName</a>
                </td>
                <td>
                    @title.ReleaseYear
                </td>
            </tr>
        }
    </table>
</p>
